.header {
	box-shadow: 0 0 15px #333;
}
.headerContent{
	display: flex;
	height:70px;
	padding: 5px;
	align-items: center;
	justify-content: flex-end;
}
.headerLogoLightbulb {
	max-height: 100%;
}
.headerLogoText {
	max-height: 100%;

}
.headerTitle {
	margin:0;
}