@value primaryColor, highlightColor, lolightColor from 'containers/App/styles.css';

.flowchartItemEnter {
    opacity: 0.01;
}

.flowchartItemActive {
    opacity: 1;
}

.flowchartItemCurrentNode {

}

.flowchartItemPreviousNode {
    /*opacity: 0.3;*/
}


.flowchartItemTitleWrapper {
    background-color: primaryColor;
    padding: 15px;
    color: #FFF;
}

.flowchartItemPreviousNode .flowchartItemTitleWrapper {
    background-color: #999;
    color: #333;
}

.flowchartItemPreviousNode .flowchartItemTitleWrapper:hover {
    cursor: pointer;
    background-color:highlightColor;
    color: #FFF;
}

.flowchartItemTitleWrapper small {
    color: lolightColor;
}

.flowchartItemTitle {
    margin: 0;
}

.flowchartItemExplanation {
    padding: 15px;
    font-size: 18px;
    background: #EEE;
    border-bottom: none;
}

.flowchartItemExplanation ul {
    padding-left: 30px;
}

.flowchartItemResponse {
    text-align: center;
}

.flowchartItemResponseButton {
    color: primaryColor;
    background-color: #EEE;
    display: inline-block;
    width: 100%;
    font-size: 72px;
}

.flowchartItemResponseButton:hover {
    text-decoration: none;
    background-color: #DDD;
    color: highlightColor;
}

.flowchartItemResponseExplanation {
    text-align: center;
    background-color: #EEE;
}
