@value primaryColor, highlightColor, lolightColor from 'containers/App/styles.css';

.flowchartEndpoint {
    border-bottom: 2px solid primaryColor;
}

.flowchartEndpointImage {
	width: 100%;
}

.giveFeedback {
	background-color: primaryColor;
	color: #FFF;
	font-size: 20px;
	font-family: "Raleway";
	padding: 15px;
}